<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue wwq</title>
    <meta name="description" itemprop="description" content="react">
    <meta itemprop="name" content="react">
    <meta itemprop="image" content="http://wwq.qq.com/images/logo-2.png">
    <meta name="keywords" content="react">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
<body>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<h3>component:props</h3>

<div id="example" v-cloak>
    <my-component :msg="msg" :user-id="userId"></my-component>
    <input type="text" v-model="msg">
    <input type="text" v-model="userId">
</div>
<br/>
<h3>component:events-example</h3>
<!-- 子组件模板 -->
<template id="child-template" v-cloak>
    <input v-model="msg">
    <button @click="notify">Dispatch Event</button>
</template>

<!-- 父组件模板 -->
<div id="events-example">
    <p>Messages: {{ messages | json }}</p>
    <child @child-msg="handleIt" :do-follow="doFollow" ></child>
</div>


<a href="#todo"><h3>todo</h3></a>
<div id="todo" v-cloak>
    <input type="text" v-model="newTodo" @keyup.enter="addTodo">
    <ul>
        <li v-for="todo in todos">
            {{todo.text}}
            <button @click="removeTodo($index)">X</button>
        </li>
    </ul>
</div>

</body>
</html>


