<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue wwq</title>
    <meta name="description" itemprop="description" content="react">
    <meta itemprop="name" content="react">
    <meta itemprop="image" content="http://wwq.qq.com/images/logo-2.png">
    <meta name="keywords" content="react">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
<body>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="app">

</div>

<script id="app2" type="x-template">
    <div>
        <h1>Hello App nested!</h1>
        <p>
            <a v-link="{ path: '/foo' }">Go to /foo</a>
            <a v-link="{ path: '/foo/bar' }">Go to /foo/bar</a>
            <a v-link="{ path: '/foo/baz' }">Go to /foo/baz</a>
        </p>

        <router-view></router-view>
    </div>
</script>

<script id="foo" type="x-template">
    <div class="foo">
        <h2>This is Foo!</h2> from data :{{msg}};
        <router-view :msg="msg" :change-msg="changeMsg"></router-view>
        <a v-link="{name:'default'}">go default</a>
        <a @click="$router.go({ name: 'default'})">go default</a>
    </div>
</script>

<script id="bar" type="x-template">
    <div>
        <p>This is bar!</p>
        <button @click="clickBar(22)">改变顶层msg</button>
        <p>bar里的msg：{{msg}}</p>
    </div>
</script>

<script id="baz" type="x-template">
    <div>
        <p>This is baz!</p>
        <button @click="clickBaz(11)">改变顶层msg</button>
        <p>baz里的msg：{{msg}}</p>
    </div>
</script>

</body>
</html>


