.header-nav {
    height: 45px;
    background-color: #fff;
    position: relative;
    vertical-align: baseline;
    padding: 0 10px
}

.header-nav .logo {
    height: 45px;
    float: none;
    position: absolute;
    width: 94px;
    vertical-align: baseline
}

.header-nav .logo img {
    height: 45px
}

.header-nav .search-form {
    display: block;
    padding: 0;
    margin: 0 34px 0 114px;
    height: 45px;
    vertical-align: baseline;
    overflow: hidden
}

.header-nav .search-box {
    vertical-align: baseline;
    margin-top: 9px;
    width: auto;
    position: relative
}

.header-nav .search-box input {
    width: 100%;
    height: 25px;
    line-height: 15px;
    padding-left: 30px;
    background: url(../images/search-icon.png) 9px center no-repeat #f2f6f7;
    background-size: 14px 15px;
    border-radius: 25px;
    border: 1px solid #e0e0e0
}

.header-nav .header-icon {
    float: none;
    position: absolute;
    vertical-align: baseline
}

.header-nav .user-icon {
    top: 9px;
    right: 12px
}

.header-nav .list-icon {
    top: 13px;
    right: 12px
}

.header-nav .header-icon a {
    display: block;
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px
}

.header-nav .user-icon a {
    width: 22px;
    height: 26px;
    background-position: -316px -88px;
    margin-top: 0;
    margin-right: 0
}

.header-nav .list-icon a {
    width: 25px;
    height: 19px;
    background-position: -355px -92px;
    margin-top: 0
}

.ui-slider {
    width: 100%;
    position: relative;
    height: auto;
    height: 145px;
    overflow: hidden
}

.ui-slider-content {
    display: -webkit-box;
    position: absolute;
    left: 0;
    top: 0
}

.ui-slider-content > li {
    -webkit-box-flex: 1;
    width: 100%
}

.ui-slider-content > li img {
    display: block;
    width: 100%;
    height: auto
}

.ui-slider-content > li span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%
}

.ui-slider-content > li:active {
    opacity: .7
}

.ui-slider-indicators {
    position: absolute;
    display: -webkit-box;
    -webkit-box-pack: end;
    width: 100%;
    bottom: 10px;
    right: 4px;
    font-size: 0
}

.ui-slider-indicators li, .ui-slider-indicators li.current:before {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    -webkit-box-sizing: border-box
}

.ui-slider-indicators li {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    background-color: #14a9d8;
    margin-right: 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative
}

.ui-slider-indicators li.current:before {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.slider-comment {
    height: 37px;
    border-top: 1px solid #ddd;
    padding: 0 25px 0 10px;
    position: relative
}

.slider-comment img {
    width: 29px;
    height: 29px;
    border-radius: 29px;
    margin-top: 4px;
    float: left;
    margin-right: 6px
}

.slider-comment p {
    float: left;
    line-height: 37px;
    color: #464646;
    font-size: 12px;
    width: 89%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden
}

.slider-comment p span {
    color: #1b1a1f
}

.slider-comment i {
    position: absolute;
    top: -8px;
    left: 19px;
    z-index: 3;
    display: block;
    width: 0;
    height: 0;
    border-left: 7px transparent solid;
    border-right: 7px transparent solid;
    border-bottom: 7px #fff solid
}

.banner-info {
    max-width: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 7px;
    left: 81px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #fff
}

.nav-icon {
    padding: 8px 0
}

.nav-icon ul {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: table
}

.nav-icon li {
    display: table-cell
}

.nav-icon li a {
    display: block;
    width: 64px;
    margin: 0 auto;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    text-align: center
}

.nav-icon li i {
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px;
    height: 45px;
    width: 45px;
    display: block;
    margin: 0 auto 4px
}

.nav-icon li.wwq a {
    color: #f4b70a
}

.nav-icon li.wwq i {
    background-position: -65px -202px
}

.nav-icon li.sw a {
    color: #f99931
}

.nav-icon li.sw i {
    background-position: -126px -202px
}

.nav-icon li.wwdr a {
    color: #6bd1b0
}

.nav-icon li.wwdr i {
    background-position: -186px -202px
}

.nav-icon li.hd a {
    color: #00c0ff
}

.nav-icon li.kf a, .nav-icon li.wb a {
    color: #19a0e8
}

.nav-icon li.hd i {
    background-position: -247px -202px
}

.nav-icon li.kf i {
    background-position: -307px -202px
}

.nav-icon li.wb i {
    background-position: -368px -202px
}

.main-tab {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2
}

.main-tab ul {
    width: 75%;
    float: left;
    border-right: 1px solid #e2e2e2;
    padding-left: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.publish-btn, .publish-btn a {
    -webkit-box-sizing: border-box
}

.main-tab ul li {
    float: left;
    display: inline;
    width: 33.33333%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px
}

.wb-tab ul li {
    height: 56px;
    line-height: 78px;
    position: relative
}

.wb-tab ul li i {
    display: block;
    position: absolute;
    top: 9px;
    left: 50%;
    background: url(../images/wb-icon.png) no-repeat;
    background-size: 82px 25px
}

.wb-tab ul li i.wb-exchange {
    width: 25px;
    height: 28px;
    background-position: -2px -2px;
    margin-left: -13px
}

.wb-tab ul li i.wb-feedback {
    width: 22px;
    height: 19px;
    background-position: -33px -2px;
    margin-left: -11px
}

.wb-tab ul li i.wb-news {
    width: 18px;
    height: 19px;
    background-position: -61px -2px;
    margin-left: -9px
}

.main-tab ul li a {
    color: #1b1a1f
}

.main-tab ul li.cur {
    border-bottom: 3px solid #ff6606
}

.main-tab .tab-checkin {
    width: 25%;
    float: left;
    height: 42px
}

.main-tab .tab-checkin a {
    margin: 8px auto 0;
    width: 66px;
    height: 27px;
    display: block;
    background: url(../images/community-icon.png) -191px -86px no-repeat;
    background-size: 600px 400px;
    text-indent: -9999em
}

.main-tab .checked a {
    background-position: -193px -129px
}

.community-list {
    padding: 0 11px;
    margin-bottom: 50px
}

.community-list .list-item {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0 15px
}

.community-list .last-item {
    border-bottom: none
}

.list-item .item-user {
    height: 29px
}

.item-user .user-info {
    width: 70%;
    float: left;
    overflow: hidden
}

.item-user .user-info img {
    height: 29px;
    width: 29px;
    border-radius: 29px;
    float: left
}

.plate-wb .plate-btn, .publish-btn a {
    border-radius: 3px;
    text-align: center
}

.item-user .user-info p {
    font-size: 12px;
    color: #1b1a1f;
    float: left;
    margin-left: 10px
}

.identity {
    position: relative
}

.comment-info .geek, .comment-info .moderator, .user-info .geek, .user-info .moderator {
    line-height: 14px;
    font-size: 12px;
    margin-left: 10px
}

.comment-info .geek i, .comment-info .moderator i, .user-info .geek i, .user-info .moderator i {
    display: inline-block;
    background: url(../images/identity-icon.png) no-repeat;
    background-size: 50px 15px;
    vertical-align: bottom;
    margin-right: 2px
}

.comment-info span.moderator, .item-user .user-info p span.moderator {
    color: #00c0ff
}

.comment-info span.geek, .item-user .user-info p span.geek {
    color: #4fc09b
}

.comment-info .moderator i, .user-info .moderator i {
    width: 12px;
    height: 14px;
    background-position: 0 0
}

.comment-info .geek i, .user-info .geek i {
    width: 13px;
    height: 13px;
    background-position: -15px 0
}

#delete-box, #delete-mask {
    width: 100%;
    display: none;
    position: fixed;
    left: 0
}

#delete-mask {
    background-color: #000;
    top: 0;
    height: 100%;
    opacity: .6;
    z-index: 1000
}

#delete-box .cancel, #delete-box li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #737373
}

#delete-box {
    bottom: 0;
    z-index: 1001
}

#delete-box .cancel, #delete-box ul {
    background-color: #fff
}

#delete-box .cancel a, #delete-box li a {
    display: block;
    text-align: center;
    color: #19a0e8;
    font-size: 15px
}

#delete-box .cancel {
    margin-top: 4px
}

.list-item .delete-artical {
    margin-top: 6px
}

.list-item .delete-artical a {
    display: block;
    width: 12px;
    height: 14px;
    background: url(../images/identity-icon.png) -33px 0 no-repeat;
    background-size: 50px 15px;
    margin-left: 6px
}

.item-user .user-info p span {
    color: #a5a5a5;
    font-size: 10px
}

.item-user .user-operation {
    float: right;
    line-height: 29px
}

.item-user .user-operation span {
    float: left;
    display: inline;
    font-size: 12px;
    color: #a5a5a5
}

.user-operation span i {
    display: inline-block;
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px;
    margin-right: 5px;
    vertical-align: middle
}

.user-operation span i.praise-num {
    background: url(../images/community-icon.png) -65px -97px no-repeat;
    background-size: 600px 400px;
    width: 16px;
    height: 13px
}

.user-operation span i.comment-num {
    background: url(../images/community-icon.png) -108px -97px no-repeat;
    background-size: 600px 400px;
    width: 16px;
    height: 15px
}

.user-operation span.already i.praise-num {
    background-position: -65px -130px
}

.user-operation span.already i.comment-num {
    background-position: -108px -130px
}

.list-item .item-tit {
    width: 100%;
    margin-top: 10px
}

.list-item .item-tit p {
    max-height: 40px;
    line-height: 20px;
    font-size: 13px;
    color: #1b1a1f;
    overflow: hidden
}

.list-item .item-tit p i {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px;
    margin-right: 6px
}

.list-item .item-tit p b {
    display: inline;
    float: left;
    width: 19px;
    height: 19px;
    background: url(../images/record-icon.png) no-repeat;
    background-size: 58px 100px;
    margin-right: 4px
}

.list-item .item-tit p b.open-icon {
    background-position: -39px -1px
}

.list-item .item-tit p b.try-icon {
    background-position: -39px -22px
}

.list-item .item-tit p b.final-icon {
    background-position: -39px -44px
}

.list-item .item-main {
    margin-top: 10px
}

.list-item .item-main li {
    width: 111px;
    height: 87px;
    float: left;
    display: inline;
    margin-left: 6px;
    margin-bottom: 6px
}

.list-item .item-main li img {
    width: 111px;
    height: 87px
}

.list-item .item-main p {
    font-size: 11px;
    color: #464646;
    line-height: 16px
}

.publish-btn {
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    background-color: #fff
}

.publish-btn a {
    display: block;
    height: 45px;
    line-height: 45px;
    background-color: #f57619;
    font-size: 15px;
    color: #fff;
    box-sizing: border-box
}

.plate {
    padding: 11px
}

.plate-wwq {
    background-color: #fcbc09
}

.plate-sw {
    background-color: #f98237
}

.plate-dr {
    background-color: #78d0c1
}

.plate-activity {
    background-color: #00c0ff
}

.plate-kf, .plate-wb {
    background-color: #19a0e8
}

.plate i {
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px;
    height: 55px;
    width: 55px;
    display: inline;
    float: left
}

.plate-wwq i.plate-icon {
    background-position: -62px -330px
}

.plate-sw i.plate-icon {
    background-position: -123px -330px
}

.plate-dr i.plate-icon {
    background-position: -182px -330px
}

.plate-activity i.plate-icon {
    background-position: -244px -330px
}

.plate-kf i.plate-icon {
    background-position: -305px -330px
}

.plate-wb i.plate-icon {
    background-position: -367px -330px
}

.plate .plate-info {
    float: left;
    display: inline;
    margin-left: 9px;
    line-height: 18px
}

.plate .plate-info h2 {
    font-size: 16px;
    color: #fff
}

.plate .plate-info .info-introduce {
    font-size: 12px;
    color: #fff
}

.plate-wwq .plate-info .info-other {
    font-size: 12px;
    color: #d16200
}

.plate-sw .plate-info .info-other {
    font-size: 12px;
    color: #9e3d00
}

.plate-dr .plate-info .info-other {
    font-size: 12px;
    color: #337d65
}

.plate-activity .plate-info .info-other {
    font-size: 12px;
    color: #0a76af
}

.plate-kf .plate-info .info-other, .plate-wb .plate-info .info-other {
    font-size: 12px;
    color: #005f92
}

.plate-btn a {
    display: block
}

.plate-kf .plate-btn, .plate-wb .plate-btn, .plate-wwq .plate-btn {
    float: right;
    display: inline;
    width: 74px;
    height: 32px;
    margin-top: 13px
}

.plate-wwq .plate-btn {
    background: url(../images/community-icon.png) -431px -286px no-repeat;
    background-size: 600px 400px
}

.plate-kf .plate-btn {
    background: url(../images/community-icon.png) -431px -323px no-repeat;
    background-size: 600px 400px
}

.plate-wb .plate-btn {
    line-height: 32px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 2px 0 #0873d8
}

.plate-wb .plate-btn a {
    display: block;
    color: #19a0e8
}

.plate-tab ul {
    width: 100%;
    padding: 0 11px
}

.backtop, .backtop a {
    width: 46px;
    height: 45px
}

.wwq-tab ul li.cur {
    border-bottom: 3px solid #fdb51b
}

.sw-tab ul li.cur {
    border-bottom: 3px solid #f98237
}

.dr-tab ul li.cur {
    border-bottom: 3px solid #79d0c0
}

.activity-tab ul li.cur {
    border-bottom: 3px solid #00c0ff
}

.kf-tab ul li.cur, .wb-tab ul li.cur {
    border-bottom: 3px solid #19a0e8
}

.backtop {
    position: fixed;
    right: 11px;
    bottom: 65px;
    z-index: 2000
}

.backtop a {
    display: block;
    background: url(../images/community-icon.png) -497px -125px no-repeat;
    background-size: 600px 400px
}

.art-plate li, .art-plate span, .art-plate ul {
    display: inline;
    float: left
}

.backtop a:focus, .backtop a:hover {
    background-position: -431px -125px
}

.header-nav .searching {
    margin-right: 50px
}

.header-nav .search-cancel {
    top: 0;
    right: 12px;
    float: none;
    position: absolute;
    vertical-align: baseline;
    line-height: 45px
}

.header-nav .search-cancel a {
    color: #1993e4;
    font-size: 16px
}

.header-nav .search-box .search-clear {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 6px;
    top: 5px;
    background: url(../images/search-input.png) no-repeat;
    background-size: 15px 15px
}

.search-history {
    border-top: 1px solid #dfdfdf;
    background-color: #ebebeb;
    padding: 0 8px;
    height: 100%
}

.search-history .history-tit {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #7f8389;
    border-bottom: 1px solid #7f8389
}

.search-history .history-tit a {
    float: right;
    font-size: 12px;
    color: #7f8389
}

.search-history li {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #1b1a1f;
    border-bottom: 1px solid #b5b7ba
}

.search-history li.last {
    border-bottom: none
}

.post-main {
    padding: 0 9px;
    background-color: #ebebeb
}

.post-main .tit-input {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #7f8389
}

.post-main .tit-input input {
    height: 45px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ebebeb;
    border: none
}

.post-main .art-con {
    padding: 10px 0
}

.post-main .art-con textarea {
    width: 100%;
    min-height: 300px;
    border: 0;
    resize: none;
    outline: 0;
    font-size: 14px;
    background-color: #ebebeb;
    line-height: 20px
}

.post-main .art-con .art-plate {
    height: 22px;
    line-height: 20px
}

.art-plate span {
    color: #7f8389;
    font-size: 13px
}

.art-plate li {
    margin-left: 5px
}

.art-plate li a {
    color: #80848a;
    font-size: 12px;
    display: block;
    min-width: 52px;
    text-align: center;
    background-color: #f5f5f7;
    border: 1px solid #80848a;
    border-radius: 20px;
    padding: 0 8px
}

.art-plate li a.cur, .art-plate li a:focus, .art-plate li a:hover {
    color: #fff;
    background-color: #f16f18;
    border: 1px solid #f16f18
}

#uploadForm {
    padding: 12px 0;
    background-color: #f5f5f7;
    border-top: 1px solid #c4c4c5
}

#save, #uploadfile {
    opacity: 0;
    filter: alpha(opacity:0);
    top: 0;
    bottom: 0;
    height: 25px;
    border: none;
    cursor: default;
    right: 0
}

#uploadForm .uploadfile {
    position: relative;
    width: 28px;
    height: 25px;
    background: url(../images/uploadfile.png) no-repeat;
    background-size: 28px 50px;
    cursor: default;
    margin-left: 14px;
    float: left
}

#uploadfile {
    width: 28px;
    position: absolute;
    float: right
}

#uploadForm .save {
    position: relative;
    width: 27px;
    height: 25px;
    background: url(../images/uploadfile.png) 0 -25px no-repeat;
    background-size: 28px 50px;
    cursor: default;
    margin-left: 14px;
    float: left
}

#save {
    width: 28px;
    position: absolute;
    float: right
}

.article-con {
    padding: 0 11px;
    margin-bottom: 49px
}

.article-con .article-item {
    padding: 10px 0 12px
}

.article-item .item-user {
    height: 29px
}

.article-item .item-tit {
    width: 100%;
    margin-top: 10px
}

.article-item .item-tit p {
    max-height: 40px;
    line-height: 20px;
    font-size: 15px;
    color: #1b1a1f;
    overflow: hidden
}

.article-item .item-tit p i {
    display: inline;
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px;
    margin-right: 6px
}

.item-tit p i.essence {
    background-position: -456px -90px
}

.item-tit p i.top {
    background-position: -431px -90px
}

.article-item .item-main {
    margin-top: 10px
}

.item-main .art-img {
    width: 100%;
    height: auto
}

.item-main .art-words {
    font-size: 13px;
    color: #464646;
    line-height: 20px;
    margin-top: 10px
}

.article-con .article-comments {
    border-top: 1px solid #b6b6b6;
    position: relative
}

.article-comments .comment-icon {
    width: 9px;
    height: 4px;
    display: block;
    position: absolute;
    top: -4px;
    left: 20px;
    background: url(../images/comment-icon.jpg) no-repeat;
    background-size: 9px 4px
}

.article-comments li {
    padding: 12px 0 20px;
    border-bottom: 1px solid #d9d9d9;
    position: relative
}

.article-comments li:last-child {
    border-bottom: none
}

.article-comments li .comment-main {
    padding-left: 37px;
    margin-top: -8px;
    color: #1b1a1f;
    font-size: 13px;
    line-height: 25px
}

.comment-user img {
    height: 29px;
    line-height: 29px;
    border-radius: 29px;
    float: left;
    display: inline
}

.article-comments li .comment-info {
    float: left;
    display: inline;
    color: #1b1a1f;
    font-size: 13px;
    margin-left: 8px
}

.article-comments li .comment-info font {
    color: #1b1a1f;
    font-size: 12px
}

.article-comments li .comment-time {
    float: right;
    display: inline;
    color: #a5a5a5;
    font-size: 12px
}

.article-comments li .delete-reply {
    position: absolute;
    right: 0;
    bottom: 3px
}

.article-comments li .delete-reply a {
    display: block;
    width: 12px;
    height: 14px;
    background: url(../images/identity-icon.png) -33px 0 no-repeat;
    background-size: 50px 15px;
    margin-left: 6px
}

.article-comments .no-more {
    text-align: center;
    color: #a5a5a5;
    font-size: 13px;
    padding-bottom: 10px
}

.article-send {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 49px;
    background-color: #fff;
    vertical-align: baseline;
    padding: 0 6px;
    border-top: 1px solid #c4c4c5
}

.article-send .expression {
    height: 28px;
    width: 28px;
    background: url(../images/community-icon.png) -435px -182px no-repeat;
    background-size: 600px 400px;
    float: none;
    position: absolute;
    vertical-align: baseline;
    margin-top: 11px
}

.article-send .expression a {
    display: block;
    height: 28px;
    width: 28px
}

.article-send .input-form {
    display: block;
    padding: 0;
    margin: 0 80px 0 34px;
    height: 49px;
    vertical-align: baseline;
    overflow: hidden
}

.article-send .input-box {
    vertical-align: baseline;
    margin-top: 7px;
    width: auto;
    position: relative
}

.article-send .article-icon, .article-send .send-btn {
    float: none;
    position: absolute;
    vertical-align: baseline
}

.article-send .input-box input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    border-radius: 6px;
    border: 1px solid #afb0b5
}

.article-send .like-icon {
    top: 13px;
    right: 46px
}

.article-send .share-icon {
    top: 14px;
    right: 11px
}

.article-send .article-icon a {
    display: block;
    background: url(../images/community-icon.png) no-repeat;
    background-size: 600px 400px
}

.article-send .like-icon a {
    width: 29px;
    height: 25px;
    background-position: -435px -212px;
    margin-top: 0;
    margin-right: 0
}

.article-send .share-icon a {
    width: 25px;
    height: 25px;
    background-position: -476px -213px;
    margin-top: 0
}

.article-send .like-icon a.like-on {
    background-position: -435px -251px
}

.article-send .share-icon a.share-on {
    background-position: -476px -252px
}

.article-send .send-btn {
    top: 7px;
    right: 11px;
    width: 65px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #b4b7bc;
    border-radius: 2px;
    display: none
}

.article-send .send-btn a {
    display: block;
    text-align: center
}

.article-operate {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 31px;
    padding: 9px 0;
    background-color: #fff;
    border-top: 1px solid #c4c4c5
}

.article-operate li {
    line-height: 31px;
    float: left;
    width: 33.333333%;
    text-align: center
}

.article-operate li a {
    display: block;
    border-right: 1px solid #a6a6a6;
    color: #707070;
    font-size: 14px;
    position: relative
}

.article-operate li:last-child a {
    border-right: none
}

.article-operate li a i {
    display: inline-block;
    background: url(../images/article-operate.png) no-repeat;
    background-size: 60px 36px;
    margin-right: 9px;
    vertical-align: middle
}

.article-operate a.praise i {
    width: 18px;
    height: 18px;
    background-position: 0 0
}

.article-operate a.comment i {
    width: 19px;
    height: 18px;
    background-position: -22px 0
}

.article-operate a.forward i {
    width: 16px;
    height: 16px;
    background-position: -44px 0
}

.article-operate li.already .praise i {
    background-position: 0 -19px
}

.article-operate li.already .comment i {
    background-position: -22px -19px
}

.comment-mask {
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 97
}

.comment-box {
    position: fixed;
    top: 10px;
    width: 100%;
    padding: 0 10px;
    z-index: 98
}

.box-main {
    background-color: #fff;
    border-radius: 6px
}

.box-main textarea {
    width: 100%;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    padding: 12px;
    line-height: 18px;
    height: 102px
}

.box-main .send-btn {
    height: 50px;
    border-top: 1px solid #ddd;
    background-color: #f2f6f7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative
}

.send-btn .expression {
    height: 28px;
    width: 28px;
    background: url(../images/community-icon.png) -435px -182px no-repeat;
    background-size: 600px 400px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 14px
}

.send-btn .expression a {
    display: block;
    height: 28px;
    width: 28px
}

.send-btn .btn-main {
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 16px
}

.btn-main a {
    float: left;
    width: 70px;
    height: 22px;
    line-height: 21px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px
}

.btn-main a.cancel {
    background-color: #f2f6f7;
    border: 1px solid #585679;
    color: #585679;
    margin-right: 10px
}

.btn-main a.send {
    background-color: #f46700;
    border: 1px solid #f46700;
    color: #fefefe
}

#search-list > li > a {
    display: block
}

.comment-time font {
    margin-left: 8px
}

.comment-info span.level, .user-info span.level {
    display: inline-block;
    width: 23px;
    height: 10px;
    margin-left: 5px;
    background-image: url(../images/level.png);
    background-repeat: no-repeat;
    background-size: 50px 200px
}

.lv1 {
    background-position: 0 0
}

.lv2 {
    background-position: 0 -20px
}

.lv3 {
    background-position: 0 -40px
}

.lv4 {
    background-position: 0 -60px
}

.lv5 {
    background-position: 0 -80px
}

.lv6 {
    background-position: 0 -100px
}

.lv7 {
    background-position: 0 -120px
}

.lv8 {
    background-position: 0 -140px
}

.lv9 {
    background-position: 0 -160px
}

.lv10 {
    background-position: 0 -180px
}

.ng-cloak, .ng-hide:not(.ng-hide-animate), .x-ng-cloak, [data-ng-cloak], [ng-cloak], [ng\:cloak], [x-ng-cloak] {
    display: none !important
}

ng\:form {
    display: block
}